.OSStatistics {
    text-align: center;
}

.PieChart {
    width: 80%;
    margin: auto;
    height: 400px;
}

.Table { 
    margin: 0px auto; 
    margin-top: 10px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }